// -----------------------------------------------
// -------- Global Variable Declarations ---------
// -----------------------------------------------

$source-sp: 'Source Sans Pro', sans-serif;
$bungee: 'Bungee', cursive;

// Greys, from lightest to darkest
$white: #FFFFFF;
$light-grey: #f4f1ec;
$mid-grey: #E2E2E2;
$dark-grey: #545149;

// Blues, from lightest to darkest
$handle-color: #C7CCE3;
$handle-color-hover: #B1B5C9;
$blue: #4056A1;

// Reds
$dark-red: #E04849;
$light-red: #F56566;